@media screen and (max-width: 767px) {    

    .wrapper{
        width: 300px;
    }
    .mid-left{
        width: 100px;
    }
    .mid-right{
        width: 200px;
    }
    .mid-right-top1{
        width: 75px;
    }
    .mid-right-top2{
        width: 125px;
    }

}

@media screen and (max-width: 479px) {
    
    .wrapper{
        width: 150px;
    }
    .mid{
        height: 450px;
    }
    .mid-left{
        float: none;
        width: auto;
        height: 100px; 
        }
    .mid-right{
        float: none;
        width: auto;
        height: 350px;
    }
    .mid-right-top{
        height: 250px;
    }
    .mid-right-top1{
        float: none;
        width: auto;
        height: 100px;
    }
    .mid-right-top2{
        float: none;
        width: auto;
        height: 150px;
    }
    
}